@model actorModel
@{
    Layout = "_AdminLayout";
}

<form asp-controller="Admin" asp-action="EditActor" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-10">
            <input type="hidden" asp-for="@Model.id">
            <input type="hidden" asp-for="@Model.movie_id">

            <div class="form-group row">
                <label asp-for="name" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input class="form-control" asp-for="name">
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="description" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <textarea asp-for="description" class="form-control" cols="4" rows="4"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="img" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input type="hidden" asp-for="img">
                    <img src="~/images/@Model.img" width="80" />

                    <input type="file" name="file1"> @*file adında resmimizi form ile controllere gönderiyoruz.*@
                </div>
            </div>

            <br><br><br>
            <div class="form-group row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <button type="submit" class="btn btn-primary" style="width: 100%;">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
</form>
