@model aboutModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
        integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<link href="~/images/icon.png"
        rel="icon"> @*burası sekme resmi*@

    <title>MovieHome</title>
    <style>
        body {
            background-image: linear-gradient(to right bottom,
                    /*renk efekti ve bu efek nerden nereye değişsin*/
                    rgba(243, 240, 240, 0.8),
                    rgba(243, 240, 240, 0.95)), url("https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/themes/2968041/settings_images/mDMVjQXySiy6SIIIv9gQ_happy_team_2.png");
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
            background-attachment: fixed;
            /*sabit arkaplann*/
            transition: all 5s ease;
            font-family: Arial, Helvetica, sans-serif;
        }

         img {
            width: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
            border-radius: 20px;
        }


        h1,
        h5 {
            font-weight: bold;
            font-family: 'Times New Roman', Times, serif;
        }
    </style>
</head>

<body>
    @await Html.PartialAsync("_navbar")
    <div class="container mt-5">
        <h1>Biz Kimiz?</h1>
        <p>
           @Html.Raw(@Model.about)
        </p>
        <img src="https://www.trainingzone.co.uk/sites/default/files/styles/inline_banner/public/istock-1154876579.jpg?itok=LsPMl-1C" style="margin-left: 5%;">
    </div>



    @await Html.PartialAsync("_footer")


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>